* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
}

ul {
    padding: 0;
}

body,
ul,
p,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
